.DS_STORE

*.log

node_modules

coverage

.idea/
.vscode/
/yarn.lock

dist/
/logs/
/build/
/package-lock.json
/mock/mock-api/node_modules/
/usr/
/utils/public/
.vscode/
/locales/en/translation.json
/locales/pt/translation.json
/locales/es/translation.json
locales/en/translation.missing.json
